*{
	box-sizing:border-box;
	padding:0;
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
}
body{
	background: #4b4b4b;
	color: white;
}

.container{
	height: 100vh;
}
.container .content{
	width: 350px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.control{
	width: 264px;
}

.container .content .node{
	width: calc(263px / 3);
	height: calc(263px / 3);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
	cursor: pointer;
}

.disabled{
	cursor: no-drop !important;
	opacity: .5;
}

.result{
	color: black;
	background: #ababab;
	width: 180px;
	height: 40px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	padding: 8px;
	left: 35%;
}
.reset {
	color: black;
	background: #4fc3f7;
	width: 70px;
	height: 40px;
	border-radius: 6px;
	display: flex;
	align-items: center;
	padding: 8px;
	left: 57%;
	justify-content: center;
	cursor: pointer;
}